*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  padding: 0;
  margin: 0;
}

i {
  width: 20px;
  color: #843ac9;
}

.wrapper {
  padding: 0 10px;
  margin: 0 auto;
}

.main {
  min-width: 300px;
  width: 90%;
  padding: 25px 10px 55px 10px;
  margin: 50px auto;
  background: #f4f4f4;
  -webkit-box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.5);
}
.main .contacts {
  margin: 30px 0;
}
.main .contacts h1 {
  color: #843ac9;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 700;
}
.main .contacts h3 {
  margin: 20px 0;
}
.main .contacts p {
  margin-top: 5px;
  line-height: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.main .contacts p b {
  padding-right: 5px;
}
.main .contacts p a {
  text-decoration: none;
  color: #000;
}
.main .contacts p a[href="https://github.com/vladyslav-masokha"] {
  text-decoration: none;
  color: #474646;
  padding-top: 5px;
  font-style: italic;
}
.main .contacts p a[href="https://www.linkedin.com/in/vladyslav-masokha-12615a243/"] {
  text-decoration: none;
  color: #474646;
  padding-top: 5px;
  font-style: italic;
}
.main .contacts-img {
  display: none;
}
.main .objectives {
  margin: 30px 0;
}
.main .objectives p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.main .objectives p b {
  padding-right: 5px;
}
.main .objectives p a {
  text-decoration: none;
  color: #000;
}
.main .summary {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.main .summary p {
  margin-top: 5px;
}
.main .summary p b {
  padding-right: 5px;
}
.main .summary ul {
  margin: 0 0 0 17px;
}
.main .summary ul li {
  list-style: square;
  margin: 10px 0 0 0;
}
.main .summary ul a {
  text-decoration: none;
  color: #474646;
  padding-top: 5px;
  font-style: italic;
}
.main .hard-skills {
  margin-top: 30px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.main .hard-skills ul {
  margin-top: 10px;
}
.main .hard-skills ul li {
  margin-left: 40px;
  list-style: square;
}
.main .education {
  margin-top: 30px;
  font-family: "Montserrat", sans-serif;
}
.main .education b {
  padding-right: 5px;
  font-size: 18px;
  font-weight: 700;
}
.main .additional-education,
.main .additional-information {
  margin-top: 30px;
  font-family: "Montserrat", sans-serif;
}
.main .additional-education b,
.main .additional-information b {
  font-size: 16px;
  font-weight: 700;
  padding-right: 5px;
}
.main .additional-education p,
.main .additional-information p {
  margin-top: 5px;
}
.main .additional-education a,
.main .additional-information a {
  text-decoration: none;
  color: #474646;
  padding-top: 5px;
  font-style: italic;
}
.main .additional-education .robocode,
.main .additional-information .robocode {
  margin-top: 20px;
}
.main .work-experience {
  margin-top: 30px;
  font-family: "Montserrat", sans-serif;
}
.main .work-experience p {
  text-decoration: underline;
}
.main .soft-skills {
  margin-top: 30px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.main .soft-skills ul {
  margin-top: 10px;
}
.main .soft-skills ul li {
  margin-left: 40px;
  list-style: square;
}

@media (min-width: 768px) {
  .main {
    width: 700px;
  }
  .main .contact-and-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .contacts-img {
    display: block;
  }
  .main .contacts-img img {
    width: 200px;
  }
}