body {
	background: #222;
	transition: background 1s ease;
	color: #eee;
}

i {
	color: #843ac9;
}

.main {
	background: #3a3a3a;
	transition: background 1s ease;
	box-shadow: 0px 0px 15px 10px #00000080	;

	.contacts,
	.objectives {
		h1 {
			color: #843ac9;
		}

		p {
			a {
				color: #eee;

				&[href="https://github.com/vladyslav-masokha"],
				&[href="https://www.linkedin.com/in/vladyslav-masokha-12615a243/"] {
					color: #d3d3d3;
				}
			}
		}
	}

	.summary {
		ul {
			a {
				color: #d3d3d3;
			}
		}
	}

	.additional-education,
	.additional-information {
		a {
			color: #d3d3d3;
		}
	}
}

// Others
.change-theme[data-theme='light'] {
	display: block;
}

.fa-sun {
	color: #eee;
}

.change-theme[data-theme='dark'] {
	display: none;
}